<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SuiteSmokeTests">

    <test name = "authorization">
        <classes>
            <class name = "TestLogIn" />
        </classes>
    </test>

    <test name = "basic functions">
        <classes>
            <class name = "TestContactList" />
        </classes>
    </test>

</suite>